html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #222831;
    background-color: rgba(0, 0, 0, 0.699);
    height: 100vh;
}

#mainWrapper {
    background-color: #e8e8e8;
}

#currentDayWrapper {
    background-color: #30475e;
}

#selectedDateTextArea {
    margin: 2%;
    width: 94%;
    min-height: 150px;
    resize: none;
    background-color: #e8e8e8;
}

#daysLabel {
    text-align: center;
    background-color: #30475e;
    color: #e8e8e8;
}

#weekAndMonthGrid {
    display: grid;
    grid-template-columns: 25px 1fr;
    height: 250px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 500px) {
    #selectedDateLabel {
        color: #e8e8e8;
        font-size: 14pt;
        padding-left: 5px;
    }

    #appName {
        display: flex;
        justify-content: center;
        color: #e8e8e8;
        font-weight: 600;
        font-size: 18pt;
        background-color: #30475e;
        padding-bottom: 5%;
        padding-top: 3%;
    }

    #weekGrid {
        display: grid;
        grid-template-rows: 16.67% 16.67% 16.67% 16.67% 16.67% 16.67%;
        height: 250px;
        width: 25px;
        border-right: #30475e25 1px solid;
    }

    #weekGrid > * {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0px;
        color: #222831;
    }

    #monthGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 250px;
    }

    #monthWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /*width: 100%;*/
    }

    #daysLabel {
        font-weight: 600;
        padding-top: 6px;
        display: grid;
        grid-template-columns: 25px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #currentMonthLabelAndButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #e8e8e8;
        height: 45px;
        font-size: 16pt;
        font-weight: 600;
        background-color: #30475e;
    }

    #divDaysLabel {
        height: 25px;
    }

    button:disabled {
        background-color: transparent;
        border: 1px solid #1f2f478f;
    }

    .btnDay {
        background-color: transparent !important;
        border: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #222831;
        font-family: Arial;
        font-size: 15px;
        text-decoration: none;
        font-weight: 600;
    }

    #btnNextMonth,
    #btnPreviousMonth {
        background-color: transparent;
        border: transparent;
        border-radius: 28px;
        display: inline-block;
        cursor: pointer;
        color: #e8e8e8;
        font-family: Arial;
        font-size: 24px;
        font-weight: bold;
        padding: 5px 20px;
        text-decoration: none;
    }
}
